.gradient{
  height: 300px;
  background: linear-gradient(to right, red, green);
}
.gradient i{
  font-size: 30px;
}
.gradient h2{
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px #000; 
}
.box-shadow{
  width: 300px;
  height: 100px;
  background: pink;
  margin: 20px auto;
  box-shadow: 10px 10px #000;
}

.rotate{
  width: 300px;
  height: 150px;
  background: red;
  margin: 30px auto;
}

.scale{
  width: 150px;
  height: 100px;
  background: red;
  margin: 30px auto;
  box-shadow: 10px 10px #000;
}
.scale:hover{
  transform: rotate(20deg)
}